{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base.html" %}

{%block head %}
{{super()}}
<link href="signin.css" rel="stylesheet">
{%endblock%}

{% block content %}
    {% block page_content %}

<!--        {% for message in get_flashed_messages() %}
            {{message}}

        {% endfor %}-->
		<div class="container">
		      <form action ="" class="form-signin" method="post" name="login">
		       {{form.hidden_tag()}}
		        <h2 class="form-signin-heading">Please sign in</h2>
		        {{form.username}}<br>
		        {{form.password}}
		        <div class="checkbox">
		          <label>
		          {{form.remember_me}}
		 			Remember me
		          	
		          </label>
		        </div>
		        <button class="btn btn-primary" type="submit">Sign in</button>
		      </form>
		</div> 
    {% endblock %}
{% endblock %}






    


  